<div class="container my-5 shadow-lg p-3 mb-5 bg-body rounded">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1 class="display-10 text-center">About This Angular App</h1>
        <p>A todo app, short for "to-do" app, is a software application designed to help users organize and manage their
            tasks, activities, and reminders. It is a digital counterpart of the traditional pen-and-paper to-do list,
            providing a more flexible and convenient way to keep track of tasks and responsibilities.

            Typically, a todo app allows users to create lists of tasks, add details and due dates to each task, and
            mark tasks as completed when they are finished</p>
    </div>
</div>